.cart-item {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    position: relative;
}

.cart-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.item-image {
    width: 60px;
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-right: 15px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-in-stock-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 10px;
    padding: 2px 10px;
    white-space: nowrap;
    border-radius: 4px;
    text-align: center;
    line-height: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    font-weight: bold;
}

.cart-item.out-of-stock .item-details {
    opacity: 0.7;
}

.item-details {
    /*flex-grow: 1;*/
    margin-right: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.item-name {
    font-size: 16px;
    color: #222222;
    line-height: 1.3;
    margin-bottom: 5px;
}

.item-price-unit {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #7A7A7A;
}

.gift-tag {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    color: #902067;
    background-color: #E9E9E9;
    border-radius: 64px;
    padding: 10px 5px;
}

.item-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
    flex-shrink: 0;
}

.item-remaining {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #FF6A6A;
    font-weight: 500;
}

.item-timeslot {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #FF6A6A;
}

.item-total-price {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: right;
    color: #222222;
}

.remove-item {
    position: absolute;
    top: 15px;
    right: 0;
    background: none;
    border: none;
    font-size: 18px;
    color: #ccc;
    cursor: pointer;
    line-height: 1;
    transition: color 0.2s;
}
