/* Файл: ./styles/CheckoutSection.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.montserrat-font {
    font-family: 'Montserrat', sans-serif;
}

.checkout-section-container {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout-block {
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 12px;
    color: #222222;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkout-block h2, .checkout-block h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
}

.delivery-info, .address-block {
    padding-bottom: 0;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.address-block p {
    font-size: 14px;
    color: #222222;
    margin-bottom: 0;
}

.free-delivery-progress {
    font-size: 12px;
    color: #7A7A7A;
    position: relative;
    padding-top: 5px;
    margin-bottom: 10px;
}

.progress-bar-bg {
    height: 4px;
    background-color: #E0E0E0;
    border-radius: 2px;
    margin-top: 5px;
}

.progress-bar-fill {
    height: 100%;
    background-color: #A3FF00;
    border-radius: 2px;
    transition: width 0.5s ease-in-out;
}

.error-text {
    color: #EF4444;
    font-weight: 500;
}

.replacement-block {
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
    gap: 15px;
}

.replacement-comment {
    width: 100%;
    padding: 10px 15px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
}

.replacement-comment::placeholder {
    color: #A0A0A0;
}

.bonuses-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0;
    gap: 5px;
}

.bonuses-toggle h3 {
    flex-grow: 1;
}

.bonuses-toggle p {
    font-size: 14px;
    color: #7A7A7A;
    flex-basis: 100%;
    order: 3;
    margin-top: -10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    flex-shrink: 0;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D1D1D1;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #A3FF00;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}