.main-banner {
    position: relative;
    width: 99%;
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
    margin: 0 auto;
}

.main-banner img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.5s ease-in-out;
}

/* Стрелки навигации */
.banner-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #FBFBFB61;
    border: none;
    border-radius: 32px;
    width: 70px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 10;
}
.banner-arrow:hover {
    background: #FBFBFB;
}
.banner-arrow-left {
    left: 20px;
}

.banner-arrow-right {
    right: 20px;
}

.banner-arrow svg {
    width: 24px;
    height: 39px;
    fill: #000;
    margin-right: 10px;
}

.main-banner:hover .banner-arrow {
    opacity: 1;
}

.banner-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.banner-dot {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, width 0.3s ease;
}

.banner-dot.active {
    background-color: #902067;
    width: 24px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .banner-arrow {
        display: none!important;
    }

    .banner-dots {
        position: static;
        margin-top: 10px;
        margin-left: 9px;
        transform: none;
        justify-content: flex-start;
    }

    .main-banner {
        margin-bottom: 20px;
    }

    .banner-dot {
        width: 8px;
        height: 8px;
        background-color: rgba(144, 32, 103, 0.3);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease, width 0.3s ease;
    }

    .banner-dot.active {
        background-color: #902067;
        width: 24px;
        border-radius: 4px;
    }

}

/* Стили для скелетона */
.main-banner-skeleton {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    background: #f0f0f0;

    background: linear-gradient(
            90deg,
            #f0f0f0 25%,
            #e0e0e0 50%,
            #f0f0f0 75%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}