.product-card {
    position: relative;
    background: #F5F5F5;
    border-radius: 32px;
    padding: 12px 10px 0 15px;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 375px;
    text-decoration: none;
}

.product-details-container {
    display: flex;
    flex-direction: column;
}

.sub-description {
    align-items: flex-start !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.image-container {
    width: auto;
    height: 248px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.favorite-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #ffffff;
    border: none;
    padding: 5px 13px;
    border-radius: 64px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    color: #902067;
    z-index: 2;
}
.price-btn {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
}

.add-icon-in-price {
    width: 24px;
    height: 24px;
    align-content: end;
}

.product-subprice {
    margin-bottom: 27px;
    margin-top: 14px!important;
}

.favorite-btn svg {
    transition: fill 0.3s ease;
    color: #902067;
}

.favorite-btn.active {
    color: #902067;
}

.product-name {
    margin-top: 12px;
    line-height: 120%;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 97%;
    min-height: 40px;
}

.description-text {
    margin-top: 4px;
    line-height: 120%;
    color: #7A7A7A;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.subprice-strike {
    text-decoration: line-through;
    margin-right: 10px;
    color: #7A7A7A;
    font-weight: 400;
}

.price-descr {
    text-decoration: none;
    color: #7A7A7A;
    font-weight: 500;
}

.product-price {
    margin-top: 0;
    font-size: 22px;
    font-weight: 600;
    color: #222222;
    line-height: 120%;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 60px;
    height: 44px;
    border-radius: 64px;
    background: #902067;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 24px 18px;
    transition: all 0.3s ease;
    overflow: hidden;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    gap: 12px;
}

.add-to-cart-btn:hover {
    transform: scale(1.1);
}

.add-to-cart-btn svg {
    fill: white;
}

.add-to-cart-btn.expanded {
    width: 93%;
    padding: 24px 20px;
    justify-content: space-between;
    border-radius: 24px;
    transform: none;
}

.add-to-cart-btn .price-in-cart {
    white-space: nowrap;
}

span.price-in-cart {
    margin-bottom: -4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    vertical-align: middle;
}

.add-to-cart-btn .plus,
.add-to-cart-btn .minus {
    font-size: 8px;
    font-weight: bold;
    cursor: pointer;
}

.cart-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
}

.quantity-in-cart {
    font-size: 12px;
    opacity: 0.8;
}

.product-labels {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    z-index: 2;
}

.product-label svg {
    width: 40px;
    height: 40px;
    display: block;
}

.sale-title {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #222222;
    margin-bottom: 1px!important;
}

@media (min-width: 1001px) and (max-width: 1440px) {

    .product-price {
        font-size: 16px!important;
    }

    .product-name {
        margin-bottom: -5%;
        font-size: 14px!important;
        height: auto;
    }

    .price-descr {
        font-size: 14px!important;
    }

    .add-to-cart-btn {
        padding: 20px 18px;
        width: 54px;
    }

    .add-to-cart-btn.expanded {
        width: 92%;
        padding: 16px 16px;
    }

    .section__grid {
        gap: 20px;
    }

    .sale-title {
        font-size: 20px;
    }

    .sale-description {
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1000px) {
    .product-name {
        font-size: 10px;
    }

    .price-descr {
        font-size: 9px;
    }
}


@media (min-width: 768px) and (max-width: 1020px){
    .product-card {
        padding: 8px;
    }

    .image-container {
        height: 180px;
    }

    .description-text {
        font-size: 14px;
        flex-direction: column;
        gap: 4px;
        padding: 8px;
    }

    .add-to-cart-btn {
        height: 36px;
        width: 44px;
        padding: 16px;
        font-size: 12px;
        gap: 8px;
    }
    .add-icon-in-price {
        height: 21px;
    }

    .add-to-cart-btn.expanded {
        width: 93%;
        padding: 12px;
    }

    span.price-in-cart {
        font-size: 16px;
    }

    .quantity-in-cart {
        font-size: 11px;
    }

    .product-label svg {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 394px) and (max-width: 767px){
    .image-container{
        height: 180px;
    }
    .product-name {
        font-size: 10px;
        margin-bottom: 0;
        height: auto;
    }
    .price-descr {
        font-size: 10px;
    }
    .product-price{
        font-size: 10px;
    }
    .product-subprice{
        margin-bottom: 17px;
        margin-top: -12px!important;
    }
    .out-of-stock-btn{
        font-size: 12px;
    }
}

@media (max-width: 393px) {
    .product-card {
        width: 164px;
    }

    .product-name {
        font-size: 12px;
        margin-bottom: 0;
        height: auto;
    }

    .price-descr {
        font-size: 12px;
    }

    .product-subprice {
        margin-top: 0px;
        margin-bottom: 14px;
    }

    .product-price{
        font-size: 14px;
    }
}

/* Стиль для кнопки "Нет в наличии" */
.out-of-stock-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 35px;
    font-family: 'Montserrat', sans-serif;
    background-color: #DBDBDB;
    color: #7A7A7A;
    font-size: 14px;
    font-weight: 600;
    cursor: not-allowed;
    text-align: center;
}

.product-card.out-of-stock {
    opacity: 0.7;
}