* {
    font-family: 'Montserrat', sans-serif;
}

.content-page-wrapper {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.content-page-title {
    font-family: Arial, sans-serif;
    color: #222222;
    margin-bottom: 10px;
}

.accordion-container {
    margin-top: 20px;
}

.accordion-item {
    border: 1px solid transparent;
    margin-bottom: 10px;
    border-radius: 24px;
    transition: border 0.3s ease-in-out;
}

.accordion-item.active {
    border: 1px solid #902067;

}

.accordion-item.active .accordion-title {
    border-radius: 24px 24px 0 0;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    cursor: pointer;
    background-color: #F5F5F5;
    font-weight: 500;
    font-size: 18px;
    color: #4E4E4E!important;
    border-radius:24px;
}

.accordion-icon {
    color: #902067;
}


.accordion-content-text {
    margin: 0;
    white-space: pre-line;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #4E4E4E;
    padding: 0 0 15px 0;
}

.accordion-content {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    background-color: #F5F5F5;
    border-radius: 0 0 24px 24px;
    padding: 15px;
}