.registration-wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #FAFAF9;
}

.registration-form-block {
    width: 52%;
    min-width: 52%;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    position: relative;
    z-index: 1;
    overflow: clip;
}

.login-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 370px;
}

.block-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    gap: 24px;
}

.block-login-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    text-align: center;
    color: #292927;
}

.registration-logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
}

.registration-title {
    margin: 0;
    color: #292927;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
    width: 100%;
}

.block-registration-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.registration-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #292927;
    width: 100%;
    margin: 0;
}

.login-form-container {
    width: 370px;
}

.checkboxes {
    width: 369px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox-container {
    display: flex;
    font-size: 14px;
    line-height: 1.4;
    align-items: center;
    margin-bottom: 0;
    gap: 8px;
}

.checkbox-container input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    border: 1px solid #902067;
    border-radius: 4px;
    position: relative;
    margin-right: 0;
    margin-top: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #902067;
    border-color: #902067;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
    content: '✔';
    color: white;
    display: block;
    text-align: center;
    font-size: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 18px;
}

.text-public-checkbox {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #292927;
    width: 343px;
    margin: 0;
}

.public-offer-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #902067;
    text-decoration: none;
}

/* --- АДАПТИВНОСТЬ --- */
@media (max-width: 768px) {
    .registration-form-block {
        width: 100% !important;
        min-width: unset;
        padding: 0 1rem;
        border-radius: 0;
    }

    .registration-description {
        font-size: 20px;
        width: 370px;
    }

    .login-form-container {
        width: 92%;
    }

    .checkboxes {
        width: 87%;
    }
}

@media (max-width: 393px) {

}
