.payment-modal, .confirm-modal {
    max-width: 350px !important;
    width: 90%;
    padding: 24px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.payment-list {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 12px;
}

.payment-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #F0F0F0;
    cursor: pointer;
}

.payment-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.payment-name {
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

/* Radio */
.radio-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio-circle.active { border-color: #902067; }
.radio-dot { width: 10px; height: 10px; border-radius: 50%; background: #902067; }

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 57px;
    padding: 2px 4px;

    flex-shrink: 0;
    box-sizing: border-box;
}

.card-icon svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.delete-card-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}


.add-card-btn {
    width: 100%;
    border: 1px solid #902067;
    color: #902067;
    background: transparent;
    padding: 14px;
    border-radius: 64px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
}
.save-btn, .modal-btn.primary {
    width: 100%;
    background: #902067;
    color: #FBFBFB;
    padding: 14px;
    border-radius: 64px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
}

.save-btn:hover, .modal-btn.primary:hover{
    background: #781954;
    color: #FBFBFB!important;
}


.modal-btn.secondary-outline {
    width: 100%;
    background: transparent;
    border: 1px solid #902067;
    color: #902067;
    padding: 14px;
    border-radius: 64px;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
}

.modal-btn.secondary-outline:hover {
    background: #902067;
    color: #FBFBFB;
}

.confirm-text {
    text-align: center;
    margin: 20px 0;
    color: #7A7A7A;
}

.confirm-actions {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
span.card-number-highlight {
    margin-left: 10px;
}

.error-message-block {
    background-color: #fff0f0;
    color: #e02d2d;
    padding: 10px;
    border-radius: 8px;
    margin: 15px 0;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ffdada;
}