.address-list-content {
    background: white;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    max-width: 450px;
    width: 90%;
    max-height: 80vh;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.address-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 400px;
    overflow-y: auto;

    margin-bottom: 30px;
    padding-right: 5px;
}

.address-list::-webkit-scrollbar {
    width: 6px;
}

.address-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.address-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.address-list::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.address-item {
    padding: 16px 0 !important;
    border-bottom: 1px solid #DBDBDB !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.address-item:last-child {
    border-bottom: none !important;
}

.address-text {
    font-size: 16px;
    color: #7A7A7A;
    padding: 0 !important;
    line-height: 1.4;
}

.address-item.active .address-text {
    color: #222222;
    font-weight: 500;
}

.radio-indicator {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #902067;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: all 0.2s;
}

.radio-inner {
    width: 12px;
    height: 12px;
    background-color: #902067;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s ease;
}

.address-item.active .radio-indicator {
    border-color: #902067;
}

.address-item.active .radio-inner {
    transform: scale(1);
}

.btn-add-new-address {
    padding: 16px;
    background: #902067;
    color: #fff;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
    flex-shrink: 0;
}

.btn-add-new-address:hover {
    background: #7a1a59;
}