.edit-profile-form-container {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.form-title {
    font-size: 24px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 24px;
}

.form-error {
    color: #EF4444;
    margin-bottom: 15px;
    font-size: 16px;
}

/* Овальный стиль для полей */
.input-group {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 9999px;
    padding: 12px 16px;
    margin-bottom: 16px;
    box-shadow: none;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    /* Изначальный бордер для обеспечения одинаковой высоты,
       если border-top применяется при фокусе */
    border: 2px solid transparent;
}

/* СТИЛЬ ПРИ ФОКУСЕ */
.input-group:focus-within {
    border: 2px solid #902067;
}

.input-group label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.input-group.disabled label {
    position: static;
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #7A7A7A;
}

.input-group input {
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #222222;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    margin-top: 0;
    background-color: transparent;
    height: 100%;
    flex-grow: 1;
}

.input-group.disabled input {
    color: #222222;
    margin-top: 4px;
}

.input-group input::placeholder {
    color: #222222;
    opacity: 0.8;
}
.input-group input:-ms-input-placeholder {
    color: #222222;
}
.input-group input::-ms-input-placeholder {
    color: #222222;
}

.input-group.disabled {
    background-color: #FFFFFF;
    border-radius: 9999px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-right: 16px;
    gap: 10px;
    /* Убеждаемся, что disabled поле также имеет место для бордера */
    border: 2px solid transparent;
}

.input-group.disabled svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}


.help-text {
    position: static;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #7A7A7A;
    padding-top: 5px;
    margin-left: 21px;
}

.block-edit {
    background-color: #F5F5F5;
    border-radius: 24px;
    padding: 24px 0 24px 0;
}

.save-button {
    width: 100%;
    background-color: #902067;
    color: #FFFFFF;
    border: none;
    border-radius: 64px;
    padding: 16px 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.save-button:hover:not(:disabled) {
    background-color: #7a1b57;
}

.save-button:disabled {
    background-color: #CFCFCF;
    cursor: not-allowed;
}

.cancel-button {
    width: 100%;
    background-color: transparent;
    color: #902067;
    border: 1px solid #902067;
    border-radius: 64px;
    padding: 16px 20px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}
.cancel-button:hover:not(:disabled) {
    background-color: #f0f0f0;
}

.input-group svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
}

.input-group input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 20;
}

.input-group input[type="date"] {
    background: none !important;
    padding-right: 0 !important;
}