.payment-methods-section {
    width: 55%;
}

.content-title-payment {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 0;
    color: #222;
}

.payment-cards-list{
    background-color: #F5F5F5;
    margin-bottom: 16px;
    border-radius: 24px;
    margin-top: 20px;
}

.modal-content .logout-modal-text{
    text-align: start;
}

.cards-container-gray {
    background-color: #F5F5F5;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 24px;
}

/* Строка одной карты */
.payment-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    position: relative;
}

/* Разделительная линия между картами (кроме последней) */
.payment-card-row:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 24px;
    right: 24px;
    height: 1px;
    background-color: #E9E9E9;
}

.card-info-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Кастомный Radio Button */
.radio-indicator {
    width: 22px;
    height: 22px;
    border: 2px solid #902067;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-indicator.active {
    background-color: white;
}

.radio-dot {
    width: 10px;
    height: 10px;
    background-color: #902067;
    border-radius: 50%;
}

.card-number-text {
    font-size: 18px;
    font-weight: 500;
    color: #222;
}

.card-brand-logo {
    height: 24px;
    width: auto;
    margin-left: 8px;
}

/* Кнопка удаления (белый кружок) */
.delete-icon-btn {
    background: #FBFBFB;
    border: none;
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 15px;
}

.delete-icon-btn:hover{
    background: #dddddd;
}
/* Кнопка "Добавить карту" */
.add-card-full-btn {
    width: 100%;
    background-color: #902067;
    color: #FBFBFB;
    border: none;
    padding: 18px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.2s;
}

.add-card-full-btn:hover {
    opacity: 0.9;
}

.no-cards-padding {
    padding: 40px;
    text-align: center;
    color: #7A7A7A;
}