form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    background: #F5F5F5;
    height: 63px;
    border-radius: 32px;
    border: none;
    gap: 16px;
    width: 374px;
}

input::placeholder {
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.helper-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    color: #7A7A7A;
    width: 326px;
    margin-left: 20px;
    margin-top: -5px;
}

.date-picker-wrapper {
    position: relative;
    width: 100%;
}

.custom-date-input {
    padding: 16px 48px 16px 16px;
}

.calendar-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #222222;
    pointer-events: none;
    cursor: pointer;
    z-index: 22222 !important;
}

.btn-get-code {
    width: 100%;
    padding: 16px;
    margin-top: 14px;
    height: 60px;
    border-radius: 64px;
    border: none;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    background: #DBDBDB;
    color: #A0A0A0;
    transition: background 0.3s ease, color 0.3s ease;
}

.btn-get-code:not(:disabled) {
    background: #902067;
    /*opacity: 80%;*/
    color: #FBFBFB;
    cursor: pointer;
}

.btn-get-code:not(:disabled):hover {
    background: #7d1c5d;
}

.btn-back-to-home {
    height: 64px;
    border-radius: 64px;
    border: 2px solid #902067;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #902067;
    cursor: pointer;
}

.btn-back-to-home:hover {
    background: #902067;
    color: #ffffff;
}

.login-form-container input:focus,
.login-form-container .react-datepicker__input-container input:focus {
    border: 2px solid #902067 !important;
}

.custom-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    vertical-align: middle;
    color: #222222;
    padding: 0 48px 0 20px;
    width: 100%;
    border: 2px solid #F5F5F5;
    box-sizing: border-box;
}

.error-text {
    color: #FF6A6A;
    font-size: 14px;
    margin-top: 4px;
    margin-left: 12px;
}

.field-wrapper {
    position: relative;
    width: 100%;
}

.clear-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #E9E9E9;
    color: #7A7A7A;
    border: none;
    border-radius: 35px;
    width: 44px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.clear-btn:hover {
    background-color: #cccccc;
}

