.login-promo-block {
    position: relative;
    width: 48%;
    height: 100%;
    background-image: url("../../../assets/login_bg.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -32px;
}

.login-promo-block .registration-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
}

.login-promo-block .registration-overlay-content {
    text-align: center;
    background-color: rgba(144, 32, 103, 0.8);
    color: #FBFBFB;
    padding: 64px 44px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    min-width: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 0;
}

.login-promo-block .registration-overlay-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    width: 490px;
}

.login-promo-block .registration-overlay-content .subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    width: auto;
}


/* --- АДАПТИВНОСТЬ --- */
@media (max-width: 768px) {
    .login-promo-block {
        display: none;
    }
}

@media (max-width: 393px) {
    .login-promo-block {
        display: none;
    }
}
