.slider-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: #222222;
}

.slider-controls {
    display: flex;
    gap: 12px;
}

.slider-button {
    padding: 8px;
    width: 56px;
    height: 43px;
    background-color: #F5F5F5;
    border-radius: 999px;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.slider-button:hover {
    background-color: #E9E9E9;
}

.slider-icon {
    color: #8B005D;
    width: 20px;
    height: 20px;
}

.slider-container {
    overflow: hidden;
    position: relative;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-track > *:not(:last-child) {
    margin-right: 24px;
}

.slider-banner {
    flex-shrink: 0;
    width: calc(33.333% - 16px);
    height: 265px;
    border-radius: 32px;
    overflow: hidden;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-dots {
    display: none;
}

@media (max-width: 768px) {
    .slider-title {
        font-size: 24px;
    }

    .slider-controls {
        display: none;
    }

    .slider-track {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        transform: none !important;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .slider-track::-webkit-scrollbar {
        display: none;
    }

    .slider-banner {
        width: 85%;
        height: 200px;
        border-radius: 24px;
        scroll-snap-align: start;
    }

    .slider-dots {
        position: absolute;
        bottom: 10px;
        left: 32px;
        display: flex;
        gap: 8px;
        z-index: 2;
    }

    .slider-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #902067;
        opacity: 30%;
        border: none;
        cursor: pointer;
        padding: 0;
        transition: background-color 0.3s ease;
    }

    .slider-dot.active {
        background-color: #8B005D;
    }
}

@media (max-width: 393px) {
    .slider-title {
        font-size: 20px;
    }

    .slider-banner {
        width: 90%;
        height: 180px;
        border-radius: 16px;
    }

    .slider-dots {
        left: 20px;
    }
}

