.category-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 7px 0 0 32px;
    margin-bottom: 24px;
    overflow: hidden;
    height: 116px;
}

.category-banner-content {
    flex: 1;
    color: #1E1E1E;
    font-size: 32px;
    font-weight: 600;
    max-width: 50%;
}

.category-banner-image {
    flex-shrink: 0;
}

.category-banner-image img {
    max-height: 120px;
    object-fit: contain;
}

.title-banner-content {
    font-size: 27px;
    color: #222222;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    width: 65%;
}

@media (max-width: 1199px) {
    .title-banner-content{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .title-banner-content{
        font-size: 18px;
    }
}